<launch>

  <arg name="namespace" default="slagsquare" />

  <!-- These need to be increased but the first the algorithm needs to be refined -->
  <arg name="validation_threshold1" value="0.3" />
  <arg name="validation_threshold2" value="0.69" />

  <!-- Launch application -->
  <include file="$(find smelter_monitoring_bringup)/launch/slagsquare_monitoring_bringup.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="mock" value="True" />
    <arg name="osi_pi" value="False" />
    <arg name="step_mode" value="True" />
    <arg name="record" value="False" />
  </include>

  <!-- launch rtsp driver for verifying groundplan visualization publishing -->
  <!-- <node name="groundplan_rtsp_driver_node" pkg="ip_camera_driver" type="ip_camera_driver_node.py" -->
        <!-- respawn="True" output="screen" ns="$(arg namespace)"> -->

    <!-- <rosparam file="$(find ip_camera_driver)/config/slagsquare_flir_a310pt_rgb_camera_direct_configuration.yaml" -->
              <!-- command="load" /> -->

    <!-- overwrite some params -->
    <!-- <rosparam> -->
      <!-- settings: -->
        <!-- manual_acquisition: False -->
      <!-- uri: -->
        <!-- ip: "127.0.0.1" -->
        <!-- port: "9554" -->
        <!-- suffix: "" -->
    <!-- </rosparam> -->

    <!-- <remap from="image_raw" to="streamed/groundplan/image_raw" /> -->

  <!-- </node> -->

  <!-- set test folder and other params-->
  <rosparam subst_value="True">
    $(arg namespace):
      test_module: "$(find smelter_tests)/tests/slagsquare_monitoring_ci_system_test"
      validation_threshold1: $(arg validation_threshold1)
      validation_threshold2: $(arg validation_threshold2)
  </rosparam>

  <!-- run pytest runner -->
  <test test-name="ci_system_test" pkg="ros_pytest" type="ros_pytest_runner"
        ns="$(arg namespace)" launch-prefix="python3" time-limit="1200.0" />

</launch>
